html {
	text-align: center;
}
body {
	background-color: rgb(227, 145, 175);
}
h2 {
	padding-top: 250px;
	font-family: 'Noto Serif', serif;
	font-size: 32px;
	text-align: center;
}

h1{
	font-family: 'Noto Serif;', serif;
	font-style: italic;
	font-size: 63px;
	text-align: center;

}

button {
	margin: 10, 10, 10, 10;
	font-family: 'Noto Serif;', serif;
	font-size: 24px;
	border-radius: 10px;
	border: solid 1px black;
	background-color: rgb(209, 131, 235);
	padding: 5px 30px;
	transition:  ease-in-out all 300ms;

}

button:hover {
	background-color: rgb(219, 176, 255);
	transform: translate(0px, -5px);
}